@charset "utf-8";
/* CSS Document */

#box{width:150px;height:150px;margin:30px 0px 0px -70px;background-image: linear-gradient(#ffffff 40px, #ddecf2 210px, #d3e3e9);position:relative;
	-ms-border-radius:150px;
	-moz-border-radius:150px;
	-webkit-border-radius:150px;
	-o-border-radius:150px;
	border-radius:150px;
	

}
#box1{width:100px;height:100px;background-image:linear-gradient(#f9fdff, #d9eaf8);position:absolute;top:25px;left:25px;
	-ms-border-radius:100px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	-o-border-radius:100px;
	border-radius:100px;
	
	-moz-box-shadow: 0px 5px 24px -1px #7a8fae;
	-webkit-box-shadow:0px 5px 24px -1px #7a8fae;
	-o-box-shadow:0px 5px 24px -1px #7a8fae;
	box-shadow: 0px 5px 24px -1px #7a8fae;
	
	font-size: 10px;;
    color: #8da6b8;
    font-family: Arial;
	z-index:2;}
.hour3{position:absolute;top:45px;left:82px;}
.hour6{position:absolute;top:80px;left:47px;}
.hour9{position:absolute;top:45px;left:10px;}
.hour12{position:absolute;top:10px;left:42px;}
#hour, #minutes, #seconds {
    position: absolute;
    left: 50%;
    height: 100px;
    width: 1px;
}
#seconds {
    z-index: 23;
}

#minutes {
    z-index: 22;

}

#hour {
    z-index: 21;

}
#hour:after{content: "";width:4px;height:30px;position:absolute;top:29px;left:-2px;background:#3CF;
		-ms-border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		-o-border-radius:5px;
		border-radius:5px;
		z-index: -1;
}
#minutes:after{content: "";width:2px;height:35px;position:absolute;top:26px;left:-1px;background:#3CF;
		-ms-border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		-o-border-radius:5px;
		border-radius:5px;
		z-index: -1;
}
#seconds:after{content: "";width:1px;height:40px;position:absolute;top:23px;left:0px;background:#3CF;
		-ms-border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		-o-border-radius:5px;
		border-radius:5px;
		z-index: -1;
}
#point{width:5px;height:5px;background:#CCC;position:absolute;top:45px;left:45px;border:2px solid #999;
		-ms-border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		-o-border-radius:5px;
		border-radius:5px;
		z-index:30;
}
.hour1{position:absolute;top:15px;left:65px;font-size: 8px;}
.hour2{position:absolute;top:27px;left:77px;font-size: 8px;}
.hour4{position:absolute;top:62px;left:77px;font-size: 8px;}
.hour5{position:absolute;top:75px;left:65px;font-size: 8px;}

.hour7{position:absolute;top:75px;left:30px;font-size: 8px;}
.hour8{position:absolute;top:62px;left:17px;font-size: 8px;}
.hour10{position:absolute;top:27px;left:14px;font-size: 8px;}
.hour11{position:absolute;top:14px;left:26px;font-size: 8px;}